@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#container {
    height: auto;
    width: 95%;
    margin: auto;
    /* background-color: grey; */
}

#header {
    height: 70px;
    padding: 10px;
    color:white;
    background-color: olive;
    top:0;
    position: sticky;
    z-index: 1;
}

#logo_section {
    height: 100%;
    width: 100px;
    /* background-color: green; */
    float: left;
}

#logo {
    height: 70px;
}

#heading_section {
    height: 100%;
    width: 220px;
    /* background-color: purple; */
    float: left;
}

#heading_section h1 {
    margin-top: 12px;
}

#nav {
    height: 100%;
    width: 850px;
    /* background-color: green; */
    float: left;
}

#nav ul {
    padding-top: 20px;
    list-style: none;
}

#nav ul li {
    display: inline;
}

#nav ul li a {
    text-decoration: none;
    font-size: 22px;
    margin-left: 40px;
    color:white;
}
#nav ul li a:hover{
    color:brown;
}
#nav ul li ul{
    display: none;
}
#nav ul li:hover ul{
    display: block;
    position: absolute;
    width:180px;
    margin-left: 220px;
    background-color: olive;
}
#nav ul li ul li{
    margin-left: -30px;
    line-height: 40px;
}
#banner{
    height: 520px;
    background-color: red;
}
#bannerImg{
    height: 520px;
    width: 1194px;
}
#mqdemo{
    padding: 10px;
    height: 40px;
    background-color: white;
    font-size: 20px;
}
#content{
    padding: 50px;
    height: 300px;
    background-color: whitesmoke;
    font-size: 18px;
}
#boxes{
    height: 400px;
    padding: 50px;
    /* background-color: crimson; */
}
#box{
    height: 330px;
    background-color: blue;
    width: 300px;
    float: left;
    margin-left: 50px;
    box-shadow: 1px 1px 20px 1px;
}
#boxImage{
    height: 200px;
    background-color: brown;
      overflow: hidden;
}
#boxImg{
    height: 200px;
    width: 100%;
}
#boxImg:hover
{
    transition: 2s;
    transform: scale(1.3);
}
#boxContent{
    height: 115px;
    background-color: olive;
    padding: 10px;
    color:white;
}
#boxContent button{
    height:32px;
    width: 270px;
    border-width: 0px;
    background-color: crimson;
    color:white;
    font-size: 16px;
    margin: 3px;
}
#boxContent button:hover{
    background-color: black;
    color:white;
}
#about{
    height: 450px;
    padding: 50px;
    background-color: whitesmoke;
}
#aboutleft{
    height: 300px;
    width: 300px;
    /* background-color: red; */
    border-radius: 50%;
    margin: 10px;
    margin-top: 40px;
    float: left;
}
#aboutright{
    float: left;
    height: 270px;
    width: 680px;
    /* background-color: red; */
    padding: 35px;
    margin: 10px;
    font-size: 18px;
    text-align: justify;
}
#contact{
    height: 380px;
    padding: 50px;
    /* background-color: green; */
}
#contactBox1{
    height: 280px;
    padding: 10px;
    width: 220px;
    background-color: olive;
    float: left;
    margin: 5px;
    color:white;
}
#contactBox1 ul li a{
    text-decoration: none;
    color:white;
    font-size: 19px;
    line-height: 32px;
}
#contactBox2{
    height: 300px;
    width: 330px;
    /* background-color: red; */
    float: left;
    margin: 5px;
}
iframe{
     height: 300px;
    width: 330px;
}
#footer{
    height: 30px;
    padding: 5px;
    background-color: whitesmoke;
    font-size: 18px;
}
#humber,#hum{
    display: none;
}

/*###########################################################
##################### MEDIA QUERY ############################
############################################################*/

@media screen and (max-width:400px){
#container {
    height: auto;
    width: 95%;
    margin: auto;
    /* background-color: grey; */
}

#header {
    height: 40px;
    padding: 10px;
    color:white;
    background-color: olive;
    top:0;
    position: sticky;
    z-index: 1;
}

#logo_section {
    height: 100%;
    width: 60px;
    /* background-color: green; */
    float: left;
}

#logo {
    height: 40px;
}

#heading_section {
    height: 100%;
    width: 140px;
    /* background-color: purple; */
    float: left;
}

#heading_section h1 {
    margin-top: 4px;
    font-size: 22px;
}

#nav {
    height: 100%;
    width: 150px;
    /* background-color: green; */
    float: left;
}

#nav ul {
    padding-top: 20px;
    list-style: none;
    display: none;
}

#nav ul li {
    display: block;
}
#humber{
    display: inline;
    height:40px;
    width: 30px;
    float: right;
}
#hum:checked ~ul{
    display: block;
    background-color: olive;
    width: 130px;
    /* margin-left: -50px; */
}
#nav ul li a {
    text-decoration: none;
    font-size: 18px;
    margin-left: 0px;
    color:white;
    line-height: 50px;
}
#nav ul li a:hover{
    color:brown;
}
#nav ul li ul{
    display: none;
}
#nav ul li:hover ul{
    display: block;
    position: absolute;
    width:175px;
    margin-left: -220px;
    margin-top:-110px;
    background-color: olive;
}
#nav ul li ul li{
    margin-left: 10px;
    line-height: 40px;
}
#banner{
    height: 240px;
    /* background-color: red; */
}
#bannerImg{
    height: 240px;
    width: 100%;
}
#mqdemo{
    padding: 8px;
    height: 30px;
    background-color: white;
    font-size: 18px;
}
#content{
    padding: 30px;
    height: auto;
    background-color: whitesmoke;
    font-size: 16px;
}
#content h1{
    font-size: 22px;
}
#boxes{
    height: auto;
    padding: 30px;
    /* background-color: crimson; */
    float: left;
}
#boxes h1{
    font-size: 22px;
}
#box{
    height: 330px;
    /* background-color: blue; */
    width: 300px;
    float: left;
    margin-left: 12px;
    margin-top: 25px;
    box-shadow: 1px 1px 20px 1px;
}
#boxImage{
    height: 200px;
    background-color: brown;
      overflow: hidden;
}
#boxImg{
    height: 200px;
    width: 100%;
}
#boxImg:hover
{
    transition: 2s;
    transform: scale(1.3);
}
#boxContent{
    height: 115px;
    background-color: olive;
    padding: 10px;
    color:white;
}
#boxContent button{
    height:32px;
    width: 270px;
    border-width: 0px;
    background-color: crimson;
    color:white;
    font-size: 16px;
    margin: 3px;
}
#boxContent button:hover{
    background-color: black;
    color:white;
}
#about{
    height: auto;
    padding: 30px;
    background-color: whitesmoke;
    float: left;
}
#about h1{
    font-size: 22px;
}
#aboutleft{
    height: 180px;
    width: 200px;
    /* background-color: red; */
    border-radius: 50%;
    margin: 10px;
    margin-top: 10px;
    margin-left: 60px;
    float: left;
}
#aboutleft img{
    height: 180px;
    width: 200px;    
}
#aboutright{
    float: left;
    height: auto;
    width: 85%;
    /* background-color: red; */
    padding: 15px;
    margin: 10px;
    font-size: 16px;
    text-align: justify;
}

#contact{
    height: auto;
    padding: 30px;
    /* background-color: green; */
    float: left;
}
#contact h1{
    font-size: 22px;
}
#contactBox1{
    height: 280px;
    padding: 10px;
    width: 270px;
    background-color: olive;
    float: left;
    margin: 5px;
    color:white;
}
#contactBox1 ul li a{
    text-decoration: none;
    color:white;
    font-size: 19px;
    line-height: 32px;
}
#contactBox2{
    height: 300px;
    width: 290px;
    /* background-color: red; */
    float: left;
    margin: 5px;
}
iframe{
     height: 300px;
    width: 290px;
}
#footer{
    height: 32px;
    padding: 5px;
    background-color: whitesmoke;
    font-size: 15px;
    clear: both;
}
}